@model FooterModel
@using Nop.Web.Extensions
@using Nop.Web.Models.Common;
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure

<div class="footer">
	<div class="container first-footer">
		<div class="row ">
			<div class="col-sm-3 col-xs-12">
				<h3>@T("Footer.Information")</h3>
				<ul>
					@if (Model.SitemapEnabled)
					{
						<li><a href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a></li>
					}
					@foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
					{
						<li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
					}
					@*<li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>*@
				</ul>
			</div>

			@*<div class="col-sm-3 col-xs-12">
					<h3>@T("Footer.CustomerService")</h3>
					<ul>
						<li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>
						@if (Model.NewsEnabled)
						{
							<li><a href="@Url.RouteUrl("NewsArchive")">@T("News")</a></li>
						}
						@if (Model.BlogEnabled)
						{
							<li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
						}
						@if (Model.ForumEnabled)
						{
							<li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
						}
						@if (Model.RecentlyViewedProductsEnabled)
						{
							<li><a href="@Url.RouteUrl("RecentlyViewedProducts")">@T("Products.RecentlyViewedProducts")</a></li>
						}
						@if (Model.CompareProductsEnabled)
						{
							<li><a href="@Url.RouteUrl("CompareProducts")">@T("Products.Compare.List")</a></li>
						}
						@if (Model.NewProductsEnabled)
						{
							<li><a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a></li>
						}
					</ul>
				</div>*@


			<div class="col-sm-3 col-xs-12">
				<h3>@T("Footer.MyAccount")</h3>
				<ul>
					<li><a href="@Url.RouteUrl("CustomerInfo")" class="account">@T("Account.MyAccount")</a></li>

					@if (Model.AllowCustomersToApplyForVendorAccount)
					{
						<li><a href="@Url.RouteUrl("ApplyVendorAccount")">@T("Vendors.ApplyAccount")</a></li>
					}
					@if (Model.ShoppingCartEnabled)
					{
						<li><a href="@Url.RouteUrl("ShoppingCart")" class="ico-cart">@T("ShoppingCart")</a></li>
					}
					@if (Model.WishlistEnabled)
					{
						<li><a href="@Url.RouteUrl("Wishlist")" class="ico-wishlist">@T("Wishlist")</a></li>
					}
				</ul>
			</div>

			<div class="col-sm-3 col-xs-12 getintouch">
				<h3>@T("Newsletter.Title")</h3>
				@Html.Action("NewsletterBox", "Newsletter")
				<div class="social-icons">
					<div class="title">
						<strong>@T("Footer.FollowUs")</strong>
					</div>
                    <ul>
                        <li class="icon facebook"><a href="https://www.facebook.com/Ботинки-Челси-1813285052291595" target="_blank">
                            <i class="fa fa-facebook fa-fw"></i></a>
                        </li>
                        <li class="icon vk">
                            <a href="https://vk.com/chelsea_boots" target="_blank"><i class="fa fa-vk fa-fw"></i></a>
                        </li>
                        <li class="icon instagram">
                            <a href="https://www.instagram.com/bootschelsea_/" target="_blank"><i class="fa fa-instagram fa-fw"></i></a>
                        </li>
                        <li class="icon pinterest">
                            <a href="https://www.pinterest.com/chelseabootsinu/" target="_blank"><i class="fa fa-pinterest-p fa-fw"></i></a>
                        </li>
                    </ul>
				</div>
			</div>
		</div>
	</div>

	<div class="copyrights">
		<div class="container">
			<div class="row">
				<div class="text-center">
					@T("Content.CopyrightNotice", DateTime.Now.Year.ToString(), Model.StoreName)
                    Developed by <a href="http://www.noBugsException.com/">noBugsException Software Solutions Studio</a>. 
                    Powered by <a href="http://www.nopcommerce.com/">nopCommerce</a>
					@*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
						Find more info here http://www.nopcommerce.com/copyrightremoval.aspx*@
				</div>
				@if (Model.DisplayTaxShippingInfoFooter)
				{
					var inclTax = EngineContext.Current.Resolve<IWorkContext>().TaxDisplayType == TaxDisplayType.IncludingTax;
				<div class="footer-tax-shipping text-center">
					@T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
				</div>
				}
				<div class="text-center">
					@Html.Action("StoreThemeSelector", "Common")
				</div>
			</div>
		</div>

		@Html.Widget("footer")
	</div>
</div>
