@model LogoModel
@using Nop.Web.Models.Common;

<div class="container-fluid">
    <div class="row header-logo">
        <a href="@Url.RouteUrl("HomePage")">
            <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
                <img class="img-responsive" title="@Model.StoreName" alt="@Model.StoreName" src="@Model.LogoPath">
            </div>
            <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-md-8">
                <div class="logo-title">
                    @Model.StoreName
                </div>
            </div>
        </a>
    </div>
</div>