@model LogoModel
@using Nop.Web.Models.Common;

<div class="row header-logo">
	<a href="@Url.RouteUrl("HomePage")">
		<div class="col-md-4 col-md-offset-0">
			<img class="img-responsive" title="@Model.StoreName" alt="@Model.StoreName" src="@Model.LogoPath">
		</div>
		<div class="col-md-8">
			<div class="logo-title">
				@Model.StoreName
			</div>
		</div>
	</a>
</div>
